<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styleform.css">
    <title>Fandon</title>
</head>
<body>
    <h1> One Piece</h1>
   
        <div>
            <button id="meuBotao" class="float-left submit-button">Descubra o One Piece</button>
                <script type="text/javascript">
                document.getElementById("meuBotao").onclick = function () {
                location.href = "http://localhost:5000/users/tesouro";
                };
                </script>
        </div>
    
</html>